/***GENERAL***/
main {
    padding:0;
}

/***HEADER***/
main header {
    background-color: #C0C0C0;
    text-transform:uppercase;
    color:black;
    font-weight:bold;
    text-align:left;
}


/***ARTICLES***/
section {
    display:flex;
}


/***FOOTER***/
main footer {
    background-color: #C0C0C0;
    text-transform:uppercase;
    color:black;
    font-weight:bold;
    text-align:left;
}


/***POUR TABLETTE***/
@media screen and (max-width:1200px) and (min-width:780px) {
    main {
        max-width:100%;
        margin:0;
    }
    section {
        flex-wrap:wrap;
    }
    article {
        width:50%;
        box-sizing:border-box;
    }
}


/***POUR MOBILE***/
@media screen and (max-width:780px) {
    main {
        max-width:100%;
        margin:0;
    }
    section {
        flex-wrap:wrap;
    }
    article {
        width:100%;
    }
}